* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 18px;
    background-color: #f5f6f7;
}

.App {
    min-height: 100vh;
    align-items: center;
}

.contenedor-principal {
    height: 500px;
    width: 700px;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn {
    margin-left: 42%;
    margin-top: 0;
}

button {
    width: 200px;
    height: 50px;
    background-color: green;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 10px;
}

input {
    height: 25px;
    border-radius: 10px;
    padding: 5px;
}

button:hover {
    background-color: gray;
    color: white;
}